.container-fluid {
    margin: 150px auto;
}

h1 {
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 500;
    
}

#searchIcon{
    position: absolute;
  top: 6px;
  max-width: 60px;
  /* left: 10px; */

}